.company-content-wrapper {
  width: 50vw;
  height: 100vh;
  border-right: 0.5px solid rgb(225 228 232);
}
.nav-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 14.5px;
  gap: 10px;
}
.company-grid {
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #333 transparent;
}
.company-box {
  box-sizing: border-box;
  min-width: 14rem;
  max-width: 17rem;
  height: 100px;
  border: 1px solid rgb(225 228 232);
  border-radius: 10px;
}

.company-grid::-webkit-scrollbar {
  width: 5px; /* Set the width of the vertical scrollbar */
}

.company-grid::-webkit-scrollbar-thumb {
  background-color: rgb(
    225 228 232
  ); /* Set the color of the vertical scrollbar thumb */
}

.company-grid::-webkit-scrollbar-track {
  background-color: transparent; /* Set the color of the vertical scrollbar track */
}
